*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

$borderColor: #dedede;
$titleColor: orange;
$backgroundColor: rgb(255, 214, 139);
$heightContent: calc(100vh - 80px);
$heightNav:  60px;
$cardColor: white;
$marginCard: 10px 0 10px 0;
$tooltipColor: #f4f4f4;
$notFoundColor: rgb(198, 0, 0);
.header-nav{
    height: $heightNav;
    border-bottom: 1px solid $borderColor;
    h1{
        margin: 20px 0 0 20px;
        font-family: Arial, Helvetica, sans-serif;
        color: $titleColor;
    }  
}

.main-content{
    padding: 20px;
    background-color: $backgroundColor;
    min-height: $heightContent; //80px (the height of header-nav and top padding of main-content
}

.card-pet{
    @extend .card-styles;
    .card-pet__image{
        padding: 10px;
        img{
            height: 350px;
            width: 100%;
        }
    }
}

.card-pet-details{
    @extend .card-styles;
    #carouselImageGallery{
        padding: 10px;
        img{
            height: 350px;
        }
    }
}

.card-styles{
    background-color: $cardColor;
    border-radius: 8px;
    margin: $marginCard;
}

.card-pet:hover{
    box-shadow: 4px 4px 2px $borderColor; 
}
 
.pet-form{
    padding: 10px 20px 0 20px;
    .form-pet__button{
        display: flex;
        justify-content: end;
    }
}

.customTooltip{
	position: relative;
    cursor: pointer;
    .customTooltip__message {
        display: none;
        color: #000;
        position: absolute;
        left: 50%;
        top: 0;
        background-color: $tooltipColor;
        transform: translateX(-50%);
        white-space: nowrap;
        padding: 10px 15px;
        border-radius: 7px;
    }
    .customTooltip__message::before{
        content: "";
        position: absolute;
        left:50%;
        top:100%;
        transform: translateX(-50%);
        border: 15px solid;
        border-color: $tooltipColor rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) rgba(255, 255, 255, 0)
    }
}

.customTooltip:hover{
    .customTooltip__message{
        display: inline-block;
        top:-140%;

    }
}

.not-found{
    display: flex;
    margin-top: 100px;
    justify-content: center;
    .not-found__message{
        font-size: 50px;
        font-weight: 600;
        color: $notFoundColor;
    }
}

@media only screen and (max-width: 700px) and (min-width:320px){
    .not-found{
        .not-found__message{
            font-size: 40px;
        }
    }
}

//Spinner from https://tobiasahlin.com/spinkit/
.spinner {
    width: 80px;
    height: 80px;
    background-color: rgb(255, 255, 255);
    margin: 200px auto;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
  }
  
  @-webkit-keyframes sk-rotateplane {
    0% { -webkit-transform: perspective(120px) }
    50% { -webkit-transform: perspective(120px) rotateY(180deg) }
    100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
  }
  
  @keyframes sk-rotateplane {
    0% { 
      transform: perspective(120px) rotateX(0deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
    } 50% { 
      transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
    } 100% { 
      transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
      -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
  }